

.body {
    border: red; 
    height: 100vh;
}



/* body */
.section-one-container, .section-two-container, .section-three-container {
    height: 100%; 
    width: 80%;
}

.sec-one, .sec-two, .sec-three {
    max-width: 80%;
    width: 100%;
    border: 2px solid brown;
}

.section-one-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    border: 3px solid green;  
    color: green; 
}

.sec-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-two-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid green;    
    color: blue; 
}

.sec-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-three-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid green; 
    color: red;      
}

.sec-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

