body {
    border: 3px solid red;
    height: 100vh;
}


/* Nav bar */
.nav-main-container {
    border: 3px solid purple;
}


/* Main page */

.main-container {
    border: 3px solid blue;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.book-one-container {
    
    border: 2px solid brown;
}

.book-two-container {
    border: 2px solid brown;
}

.book-three-container {
    border: 2px solid brown;
}

